queue.name="Sling CMS Jobs"
queue.priority="NORM"
queue.maxparallel=D"4624633867356078080"
queue.topics=[\
  "cmsjob/*"\
]
queue.retries=I"10"
queue.preferRunOnCreationInstance=B"true"
queue.threadPoolSize=I"0"
queue.retrydelay=L"2000"
service.ranking=I"0"
queue.type="UNORDERED"
queue.keepJobs=B"true"
