user.mapping=[\
  "org.apache.sling.cms.core:sling-cms-error\=[sling-cms-error]",\
  "org.apache.sling.cms.core:sling-cms-metadata\=[sling-cms-metadata]",\
  "org.apache.sling.cms.core:sling-cms-ugc\=[sling-cms-ugc]",\
  "org.apache.sling.cms.core:sling-cms-versionmgr\=[sling-cms-versionmgr]",\
  "org.apache.sling.cms.transformer:sling-cms-transformer\=[sling-cms-transformer]"\
]
